* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #map {
  height: 100%;
}
 
body {
  font-family: Arial, sans-serif;
}

.legend {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  color: #000;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
}

